name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x]

    steps:
      - uses: actions/checkout@v2.2.0
      - name: Setup Node.js ${{ matrix.node-version }} environment
        uses: actions/setup-node@v1.4.2
        with:
          node-version: ${{ matrix.node-version }}

      - name: yarn, lint, build and test
        run: |
          yarn
          yarn lint
          yarn build
          yarn test
